accelerate==0.31.0
dotenv
einops
einops-exts
git+https://github.com/resemble-ai/monotonic_align.git
huggingface-hub==0.24.0
ipywidgets
jiwer
librosa
matplotlib
munch
nltk
numpy>=1.26.0
openai-whisper
pandas
pesq
phonemizer
pickleshare
pydub
pymoo
pyyaml
scikit-learn
scipy
sentence-transformers==2.2.2
SoundFile
tokenizers==0.19.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
transformers==4.40.2
tqdm
typing
typing-extensions
