accelerate
einops
einops-exts
git+https://github.com/resemble-ai/monotonic_align.git
huggingface-hub==0.19.4
librosa
matplotlib
munch
nltk
openai-whisper
phonemizer
pydub
pymoo
pyyaml
sentence-transformers==2.2.2
SoundFile
tokenizers==0.19.1
torch==2.4.1+cpu
torchaudio==2.4.1+cpu
torchvision==0.19.1+cpu
transformers==4.40.2
tqdm
typing
typing-extensions